* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  height: 130px;
  width: 300px;
  box-shadow:  0 0 10px rgba(0,0,0,0.3);
  padding: 10px 10px;
}

input,a{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
}
.btn{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color:#fff;
  background: red;
}